body {
	color: SkyBlue;
	font-family: 'Fira Sans Condensed', sans-serif;
}


.myname {
	color: white;
	font-family: 'Handlee', cursive;
	font-size: 100px;
	text-align: center;
}

.aboutme {
	color: black;
	text-align: center;
}

.description {
	color: black;
	text-align: center;
	font-size: 16px;
}

.navbar {
	font-family: 'Dosis', sans-serif;
}



.bg-1 {
	padding-top: 250px;
	padding-bottom: 250px;
	background-color: DarkCyan;
	background-size: cover;
	/*background-image: url("city.jpg");
	background-size: cover;
	background-repeat: no-repeat;*/
}

.bg-2 {
	background-color: white;
	padding-top: 180px;
    padding-bottom: 180px;
}

.bg-3 {
	background-color: gray;
	padding-top: 350px;
    padding-bottom: 350px;
}

.bg-4 {
	background-color: plum;
	padding-top: 50px;
	padding-bottom: 50px;
	font-color: black;
}

#profile {
	text-align: center;
}

.profilepic {
	width: 75%;
}
