body {
	color: SkyBlue;
	font-family: 'Fira Sans Condensed', sans-serif;
}


.myname {
	color: white;
	font-family: 'Simplifica';
	font-size: 100px;
	text-align: center;
}

.aboutme {
	color: black;
	text-align: center;
}

.description {
	color: black;
	text-align: center;
	font-size: 16px;
}

.navbar {
	font-family: 'Dosis', sans-serif;
}

.bg-1 {
	padding-top: 250px;
	padding-bottom: 250px;
	background-color: DarkCyan;
	background-size: cover;
	/*background-image: url("city.jpg");
	background-size: cover;
	background-repeat: no-repeat;*/
}

.bg-2 {
	background-color: white;
	padding-top: 180px;
    padding-bottom: 180px;
}

.bg-3 {
	background-color: Gainsboro;
	padding-top: 180px;
    padding-bottom: 180px;
}

.bg-4 {
	background-color: DarkCyan;
	padding-top: 50px;
	padding-bottom: 50px;
	font-color: black;
}


#profile {
	text-align: center;
}

.profilepic {
	width: 75%;
}

.teampic {
	width: 100%;
}

.button {
	text-align: center;
	font: bold 11px Arial;
  	text-decoration: none;
  	background-color: #EEEEEE;
  	color: #333333;
  	padding: 2px 6px 2px 6px;
  	border-top: 1px solid #CCCCCC;
  	border-right: 1px solid #333333;
  	border-bottom: 1px solid #333333;
  	border-left: 1px solid #CCCCCC;
}


.resume {
	width: 10%;
}

.email {
	width:100%;
}
